<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\stylesheets\rectanglestyle.css">
    <link rel="shortcut icon" type="image/png" href="/steamlogo.png" />
    <title>Rectangles</title>
    <script src="../scripts/rec.js" defer></script>
</head>
<body>
    <form action="#" method="post" th:action="@{/group/create}" th:object="${objgroup}">
        <label for="name">Groupname: </label>
        <input type="text" th:field=*{groupname} placeholder="groupName" name="groupName"> <br>
        <label for="name">Max Members: </label>
        <input type="number" maxlength="20" id="password" input required="" th:field=*{maxmembers} placeholder="maxMembers"> <br>
        <label for="name">Game: </label>
        <input type="text" maxlength="20" id="password" input required="" th:field=*{game} placeholder="game"> <br>
        <input type="submit" id="submit" value="Submit">
    </form>
</body>
</html>