<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rectangle</title>
    <script src="https://kit.fontawesome.com/9c0e4b65c1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/mainp.css">
</head>
<body>
<div class="sidebar">
    <ul>
        <li>
            <a href="">
                <span class="icon"><i class="fas fa-home fa-2x"></i></span>
                <span class="title"> Home</span>
            </a>
        </li>
        <li>
            <a href="">
                <span class="icon"><i class="fas fa-database fa-2x"></i></span>
                <span class="title"> Second option</span>
            </a>

        </li>
    </ul>
</div>
<div class="header1">
</div>

<div class="main">
    <p> Put a title ere</p>
</div>



</body>

</html>