<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SteamLFG</title>
    <script src="/navbar.js" defer></script>
    <script src="https://kit.fontawesome.com/9c0e4b65c1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/mainp.css">
    <link rel="shortcut icon" type="image/png" href=".\favicon.ico" />
    <link rel="shortcut icon" type="image/png" href="/steamlogo.png" />
</head>
<header>
    <img src="/steamlogo.png" alt="steamlogo">
    <h1 class="title">SteamLFG</h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
            <li id="first"><a  href="/"><i class="fas fa-home"></i>  Home</a></li>
            <li id="second"><a href="/about"><i class="fas fa-info"></i>  About</a></li>
            <li id="third" >
                <a href="#"><i class="fas fa-users"></i>  Social</a>
                    <ul class="SdropContent">
                        <li><a id="firstt" href="/userslist"> Add Friend</a></li>
                        <li><a id="secondd" href="/group/create"> Create Group</a></li>
                        <li><a id="thirdd" href="/readgroup"> Find Group</a></li>
                    </ul>
            </li>
            <li id="fourth" th:text="${welcome}"> </li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>

    <input type="checkbox" id="dropbtn" class="dropbtn">
    <div id="heads" class="head2">
        <form th:action="@{/signup}">
            <button id="submit" type="submit"><i class="fas fa-user-plus fa-2x"></i>  Sign Up</button>
        </form>
        <form th:action="@{/login}">
            <button id="login" type="submit"><i class="fas fa-sign-in-alt fa-2x"></i>  Login</button>
        </form>
        <form th:action="@{/logout}">
            <button id="logout" type="submit"><i class="fas fa-sign-out-alt fa-2x"></i>  Logout</button>
        </form>
        <form th:action="@{/profile}" >
            <button id="profile" type="submit"><i class="fas fa-user-circle fa-2x"></i> Profile</button>
        </form>
    </div>

    <label for="dropbtn" class="droplabel">
        <span><i id="icon" class="fas fa-user fa-2x"> </i> </span>
    </label>
    <table th:each="record : ${records}">
        <td id="userid" th:text="${record.getId()}"> testing</td>
    </table>
</header>





<div class="content">
    <h2>Welcome to SteamLFG!
    </h2>
    <div class="features"> 
        <a id="CG"><i class="fas fa-users"> Create Groups</i> 
        <p id="one">Create a community dedicated to the game you love </p>
        </a>
        <a id="FG"><i class="fas fa-search"> Find Groups</i>
        <p id="two"> Find a space to converse on anything game-related</p>
        </a>
        <a id="UP"><i class="fas fa-user-edit"> User Profile</i>
        <p id="three"> Customize your profile and express yourself</p>
        
        </a>
    </div>
    <p id="desc">
     Connect with gamers who share similar interests.
    </p>





</div>


</html>