<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="shortcut icon" type="image/png" href="/steamlogo.png" />
    <script src="/otherprofile.js" defer></script>
    <script src="https://kit.fontawesome.com/9c0e4b65c1.js" crossorigin="anonymous"></script>
    <title>Profile</title>
</head>
<body>
    <p id="request" th:text="${request}"></p>
    <div class="content" th:each="record : ${records}">
        <div class="profile-header">
            <div class="profile-img">
               <img id="profile-img" th:src="${record.getPfp()}" alt="Image Not Found" onerror="this.src='/blank-profile-picture.png';">
            </div>

            <div class="profile-nav-info">
                <h3 class="user-name" th:text="${record.getUsername()}">
                </h3>
                <div class="userinfo">
                    <label for="userage" class="labeluser">Age: </label>
                    <p id="userage" th:text="${record.getAge()}"></p>
                </div>
                <div class="userinfo">
                    <label for="usergender" class="labeluser">Gender: </label>
                    <p id="usergender" th:text="${record.getGender()}"></p>
                </div>
                <div class="userinfo">
                    <label for="userregion" class="labeluser">Region: </label>
                    <p id="userregion" th:text="${record.getRegion()}"></p>
                </div>
                <p style="color:red" th:text="${message}"></p>
                <table th:each="record : ${records}">
                    <td id="steamidhidden" th:text="${record.getSteamid()}"> testing</td>
                </table>
            </div>
        </div>
                <div class="main-body">
                    <div class="left-side">
                        <div class="profile-side">
                            <div class="user-bio">
                                <h3>Bio</h3>
                                <div id="bio" th:text="${record.getBio()}"></div>
                            </div>
                            <div class="profile-btn">
                                <form th:action="@{/addfriend/{id}(id=${record.getId()})}">
                                    <button class="friend-button" id="addfriend"><i class="fas fa-user-plus"></i>
                                        Add friend
                                    </button>
                                </form>
                                <button id="requestsent" class="otherbuttons" disabled><i class="fas fa-envelope"></i>
                                    Friend Request Sent
                                </button>
                                <button class="otherbuttons" disabled id="friendreceive"><i class="fas fa-user-plus"></i>
                                    Friend Request Received
                                </button>
                                <button class="otherbuttons" disabled id="addedfriend"><i class="fas fa-user-plus"></i>
                                    Added as Friend
                                </button>
                                <form th:action="@{/mainpage}">
                                    <button class="friend-button" type="submit"><i class="fas fa-home"></i>Home</button>
                                </form>
                            </div>
                            <form th:action="@{/acceptfriend/{id}(id=${record.getId()})}">
                                <button class="friend-button" id="acceptfriend">
                                    Accept
                                </button>
                            </form>
                            <form th:action="@{/deletefriend/{id}(id=${record.getId()})}">
                                <button class="friend-button" id="declinefriend">
                                    Decline
                                </button>
                            </form>
                            <form th:action="@{/deletefriend/{id}(id=${record.getId()})}">
                                <button class="friend-button" id="deletefriend">
                                    Delete
                                </button>
                            </form>
                        </div>

                    </div>
                    <div class="right-side">
                        <div class="nav">
                            <ul>
                                <li  onclick="tabs(0)" class="user-stats active"> Stats</li>
                                <li  onclick="tabs(1)" class="user-groups"> Groups</li>
                            </ul>
                        </div>
                        <div class="profile-body">
                            <div class="profile-stats tab">
                                <h1>Level</h1>
                                <p>
                                 </p>
                            </div>
                            <div class="profile-groups tab">
                                <h1> Joined Groups</h1>
                                <table style="background-image: linear-gradient(white,gray); border: 6px solid ghostwhite; padding: 55px;">
                                    <tr style="color: black; font-size: 20px; padding: 10px;">
                                        <th>Group</th>
                                        <th>Game</th>
                                    </tr>
                                    <tr th:each="grp : ${groupout}">
                                        <td>
                                            <form th:action="@{/group/{id}(id=${grp.getGid()})}">
                                                <button class="user-db" type="submit" th:text="${grp.getGroupname()}"></button>
                                            </form>
                                        </td>
                                        <td th:text="${grp.getGame()}" style="color: black; font-size: 20px; padding: 10px;"> </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="steam"></div>
                <div class="steamGames"></div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/otherprofile.js" ></script>
</body>
</html>