<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="shortcut icon" type="image/png" href="/steamlogo.png" />
    <script src="https://kit.fontawesome.com/9c0e4b65c1.js" crossorigin="anonymous"></script>
    <title>My Profile</title>
</head>
<body>
    <p th:text="${popupmessage}" id="checkpopup"> Testing</p>
    <div class="content" th:each="record : ${records}">
        <div class="profile-header">
            <div class="profile-img">
               <img id="profile-img" th:src="${record.getPfp()}" alt="Image Not Found" onerror="this.src='/blank-profile-picture.png';">
               <div onclick='doit()' class="level-img">
                <a th:text=${record.getLevel()}></a>
            </div>
            </div>

            <div class="profile-nav-info">
                <h3 class="user-name" th:text="${record.getUsername()}">
                </h3>
                <div class="userinfo">
                    <label for="userage" class="labeluser">Age: </label>
                    <p id="userage" th:text="${record.getAge()}"></p>
                </div>
                <div class="userinfo">
                    <label for="usergender" class="labeluser">Gender: </label>
                    <p id="usergender" th:text="${record.getGender()}"></p>
                </div>
                <div class="userinfo">
                    <label for="userregion" class="labeluser">Region: </label>
                    <p id="userregion" th:text="${record.getRegion()}"></p>
                </div>
                <p style="color:red" th:text="${message}"></p>
                <table th:each="record : ${records}">
                    <td id="steamidhidden" th:text="${record.getSteamid()}"> testing</td>
                </table>
            </div>
        </div>
                <div class="main-body">
                    <div class="left-side">
                        <div class="profile-side">
                            <div class="user-bio">
                                <h3>Bio</h3>
                                <div id="bio" th:text="${record.getBio()}"></div>
                            </div>
                            <div class="profile-btn">
                                <form th:action="@{/mainpage}">
                                    <button class="friend-button"><i class="fas fa-home"></i>
                                        Home
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="right-side">
                        <div class="nav">
                            <ul>
                                <li  onclick="tabs(0)" class="user-stats active"> Stats</li>
                                <li  onclick="tabs(1)" class="user-groups"> Groups</li>
                                <li  onclick="tabs(2)" class="user-friends"> Friends</li>
                                <li  onclick="tabs(3)" class="user-ssettings"> Settings</li>
                            </ul>
                        </div>
                        <div class="profile-body">
                            <div class="profile-stats tab">
                                <h1>Level</h1>
                                <p></p>
                                <div id="account-bar-wrapper">
                                    <div id="account-bar">
                                        <div id="account-bar-level"></div>
                                        <div id="xp-bar">
                                        <div id="xp-bar-fill">
                                            <div id='xp-increase-fx'><div id='xp-increase-fx-flicker'><div class='xp-increase-glow1'></div><div class='xp-increase-glow2'></div><div class='xp-increase-glow3'></div></div><div class='xp-increase-glow2'></div></div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>         
                                </div>                                                 
                            </div>
                        <div class="profile-groups tab">
                            <h1> Joined Groups</h1>
                            <form th:action="@{/group/create}">
                                <button class="user-db" type="submit">Create Group</button>
                            </form>
                            <form th:action="@{/groupdb}">
                                <button class="user-db" type="submit">Join Group</button>
                            </form>
                            <table>
                                <tr style="color: white; font-size: 20px;">
                                    <th>Group</th>
                                    <th>Game</th>
                                </tr>
                                <tr th:each="grp : ${groupout}">
                                    <td>
                                        <form th:action="@{/group/{id}(id=${grp.getGid()})}">
                                            <button class="user-db" type="submit" th:text="${grp.getGroupname()}"></button>
                                        </form>
                                    </td>
                                    <td th:text="${grp.getGame()}" style="color: black; font-size: 20px; padding: 10px;"> </td>
                                </tr>
                            </table>

                        </div>
                        <div class="profile-friends tab">
                            <h1> Friends</h1>
                            <p> </p>
                            <div class="button-settings">
                                <form th:action="@{/friends/{id}(id=${record.getId()})}">
                                    <button class="user-db" type="submit">Friends</button>
                                </form>
                                <form th:action="@{/userslist}">
                                    <button class="user-db" type="submit">Add Friends</button>
                                </form>
                            </div>
                        </div>
                        <div class="profile-settings tab">
                                <h1> Account Settings</h1>
                                <p> </p>
                                <div class="button-settings">
                                    <form th:action="@{/profile/edit}">
                                        <button class="edit-button" type="submit">Edit Profile</button>
                                    </form>
                                    <form th:action="@{/accdb}">
                                        <button class="user-db" type="submit">View User Database (Admins Only)</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="steamWrapper" >
                        <div class="steam" id="steam"></div>
                        <div class="steamGames" id="steamGames"></div>
                    </div>
                    <div class = "health_title"> Health and Goal Tracker:
                        <div class = "health_mini">Use these sliders to help keep track of your goals and progress</div>
                        <article id="a1">Hours spent on playing games today</article>
                      </div>
                  
                    <div class = center>
                    <div class = 'sliders'>
                        <div class = "show-value">
                        <span id = "current-value">12</span>
                        </div>
                         <input type="range"  min="0" max="24" value = "12" id="slider1" steps="1">
                         <div class="range">
                          <div>0</div>
                          <div>24</div>
                        </div>
                         <article class ="health_title" id="a2">Hours of sleep last night</article>
                         <div class = "show-value1">
                          <span id = "current-value1">12</span>
                          </div>
                        
                         <input type="range"  min="0" max="24" value = "12" id="slider2" steps="1">
                          <div class="range">
                            <div>0</div>
                            <div>24</div>
                          </div>
                    </div>
                  </div>
      
                 
      
                   
          
          
                  </div>
                
                
                </div>
    
    
    
              
    <div class="popUpBox" onclick="closePopUp()">
        <span class="popUpText" id="newRequests"> You have new friend requests pending!</span>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/profile.js"></script>

<script src="/xp.js"></script>
</body>


</html>
