<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/userslist.css">
    <link rel="shortcut icon" type="image/png" href="/steamlogo.png" />
    <title>Users List</title>
</head>
<body>
            <table>
                <tr>
                    <th>USERNAME</th>
                    <th>AGE</th>
                    <th>GENDER</th>
                    <th>REGION</th>
                    <th>PFP</th>
                </tr>
                <tr th:each="record : ${records}">
                    <td><a th:href="@{/otheruser/{id}(id=${record.getId()})}" th:text="${record.getUsername()}"></a> </td>
                    <td th:text="${record.getAge()}"> </td>
                    <td th:text="${record.getGender()}"> </td>
                    <td th:text="${record.getRegion()}"> </td>
                    <td> <img id="profile-img" th:src="${record.getPfp()}" alt="Image Not Found" onerror="this.src='/blank-profile-picture.png';"> </td>
                </tr>
            </table>
</body>
</html>